{
  "python.defaultInterpreterPath": "/path/to/zap-model/conda/env/python",
  "python.terminal.useEnvFile": true,
  "files.exclude": {
    "**/__pycache__": true,
    "**/*.egg-info": true,
    ".ruff_cache": true
  },
  "[python]": {
    "editor.defaultFormatter": "charliermarsh.ruff",
    "editor.formatOnSave": true
  },
  "python-envs.pythonProjects": [
    {
      "path": ".",
      "envManager": "ms-python.python:conda",
      "packageManager": "ms-python.python:conda"
    }
  ]
}
